:root {
  --primary-color: #bbb;
  --secondary-color: #333;
}

a {
  font-size: 13px;
  font-family: novecentosans, sans-serif;
  font-weight: bold;
  padding: 5px 20px;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  text-decoration: none;
  cursor: pointer;
  transition-property: background-color, color, opacity;
  transition-duration: 0.5s;
  user-select: none;

  &:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
  }

  &:active {
    opacity: 0.7;
  }
}
