.root {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 400px;
  display: flex;
  justify-content: space-around;

  & .item {
    margin-bottom: 5px;
  }

  & :any-link {
    text-decoration: none;
    padding-bottom: 2px;
    color: rgba(0, 0, 0, 0.4);
    border-bottom: solid 1px rgba(0, 0, 0, 0.4);
    font-size: 15px;
  }
}
