@font-face {
  font-family: quasimoda;
  src: url('../assets/fonts/quasimoda-light.otf');
}

@font-face {
  font-family: novecentosans;
  src: url('../assets/fonts/Novecentosanswide-Book.otf');
}

@font-face {
  font-family: novecentosans;
  src: url('../assets/fonts/Novecentosanswide-Bold.otf');
  font-weight: bold;
}
