:root {
  --section-margin: 70px;
  --padding-side: 50px;

  --section-wrap: {
    overflow: hidden;
  };

  --section: {
    margin-top: var(--section-margin);
    margin-bottom: var(--section-margin);
    padding-left: var(--padding-side);
    padding-right: var(--padding-side);
  };

  --section-title: {
    margin-top: var(--section-margin);
    margin-bottom: 40px;
  };

  --content: {
    margin-bottom: var(--section-margin);
  };

  --body:  {
    margin: 0;
    height: 100%;
  };
}
