{
  "extends": "stylelint-config-standard",
  "plugins": [
    "stylelint-csstree-validator"
  ],
  "rules": {
    "csstree/validator": true,
    "font-family-name-quotes": "always-where-recommended",
    "function-url-quotes": "always",
    "selector-attribute-quotes": "always",
    "string-quotes": "single",
    "at-rule-no-vendor-prefix": true,
    "media-feature-name-no-vendor-prefix": true,
    "property-no-vendor-prefix": true,
    "selector-no-vendor-prefix": true,
    "value-no-vendor-prefix": true,
    "selector-max-compound-selectors": 3,
    "selector-max-specificity": "0,5,0",
    "at-rule-no-unknown": true,
    "color-named": "never",
    "declaration-no-important": true,
    "selector-max-id": 0,
    "selector-no-qualifying-type": true,
    "function-url-scheme-blacklist": "data"
  }
}
