@import './partials/layout';
@import './partials/variables';

.root {
  @apply --body;

  height: 100%;
  display: flex;
  flex-direction: column;

  & .content {
    @apply --section;

    position: relative;
    flex: 1;
  }

  & .wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 40px;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);

    & > div {
      line-height: 1em;
    }
  }

  & .sorry {
    font-size: 30px;
    letter-spacing: 1px;
  }

  & ._404 {
    font-size: 60px;
    letter-spacing: 1px;
  }

  & .not-found {
    font-size: 17px;
    letter-spacing: 3px;
  }
}
