@import './partials/layout';

:root {
  --bg-color: #333;
  --font-color: #bbb;
}

.root {
  & .fit {
    @apply --section;

    @media (max-width: 700px) {
      @apply --section-small;
    }
  }

  & .text {
    font-size: 40vw;
    color: var(--bg-color);
    margin-left: -30px;
    height: 0.8em;
    user-select: none;
  }

  & .content {
    @apply --section-wrap;

    background-color: var(--bg-color);
    color: var(--font-color);
    font-size: 16px;
    line-height: 1.6em;

    & > * {
      @apply --section;

      margin-bottom: 40px;

      @media (max-width: 700px) {
        @apply --section-small;
      }
    }
  }

  & .button {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 0;
  }
}
