@import './partials/variables';
@import './partials/layout';

:root {
  --primary-color: #333;
  --dark-base-color: color(var(--base-color) lightness(-30%));
  --secondary-color: #bbb;
  --dark-sub-color: color(var(--sub-color) lightness(-30%));
}

.root {
  display: flex;

  & .box {
    @apply --section-wrap;

    flex: 1;
    text-align: center;

    & > * {
      @apply --section;
    }
  }

  & .location {
    background-color: var(--base-color);
    color: var(--dark-base-color);
  }

  & .contact {
    background-color: var(--sub-color);
    color: var(--dark-sub-color);
  }

  & .title {
    @apply --section-title;

    font-family: novecentosans;
    font-weight: bold;
    font-size: 25px;

    & i {
      font-size: 40px;
    }

    & .text {
      margin-top: 5px;
    }
  }

  & .content {
    & a {
      text-decoration: none;
      color: inherit;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
