@import './partials/layout';
@import './partials/variables';

.root {
  @apply --body;

  & .content {
    @apply --section;
    @media (max-width: 700px) {
      @apply --section-small;
    }

    display: flex;
    justify-content: center;
    align-items: stretch;
  }

  & .calendar {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: auto;
    display: block;
    border: 0;
  }

  & .calendar-wrapper {
    position: relative;
    width: 100%;
    max-width: 800px;
    max-height: 600px;
  }

  & .calendar-wrapper::before {
    content: '';
    display: block;
    padding-top: 75%;
  }
}
