@import './partials/layout';
@import './partials/variables';

.root {
  @apply --section-wrap;

  background-color: var(--primary-color);
  color: var(--secondary-color);

  & > * {
    @apply --section;

    @media (max-width: 700px) {
      @apply --section-small;
    }
  }

  & .copyright {
    text-align: center;
    font-size: 13px;
    padding-top: 4px;
    white-space: nowrap;
  }
}
