/* stylelint-disable selector-no-type */

html,
body {
  height: 100%;
  margin: 0;
  font-family: quasimoda;
}

/* stylelint-enable selector-no-type */

@font-face {
  font-family: acre;
  src: url('assets/acre-medium.otf');
}

@font-face {
  font-family: quasimoda;
  src: url('assets/quasimoda-light.otf');
}
