:root {
  --bg-color: #222;
  --swift: cubic-bezier(0.7, 0, 0.1, 1);
  --cubic-out: cubic-bezier(0.22, 0.61, 0.36, 1);
  --bounce: cubic-bezier(0.78, 0, 0.6, 1.91);
  --continue: cubic-bezier(1, 0, 0, 1);
  --flip: cubic-bezier(1, -0.12, 0.44, 1.65);
  --parens-space: 110px;
  --typo-width: 160px;
  --t-reveal: 0.7s;
  --t-parens: 0.7s;
  --t-twitching: 0.3s;
  --t-typo: calc(var(--t-reveal) + var(--t-parens));
  --t-circ: 0.4s;
  --t-circ-cover: 0.8s;
  --t-cover: calc(var(--t-typo) + var(--t-circ) * 2.3 + var(--t-circ-cover) * 0.5);
  --t-flip: 0.8s;
  --t-around: calc(var(--t-cover) + var(--t-flip) * 1.5);
  --t-twitching: 1s;
  --t-slide: 1s;
  --t-pic: 3s;
}

:host {
  position: relative;
  background-color: var(--bg-color);
  height: 100%;
  width: 100%;
  overflow: hidden;

  & .base {
    height: 100%;
    width: 100%;
  }

  & .middle {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    display: flex;
    flex-direction: row-reverse;
    height: 3px;
    width: 100%;
  }

  & .reveal {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 60px;
    color: #fff;
  }

  & .bar {
    width: 50%;
    height: 100%;
    background-color: #fff;
    position: relative;
  }

  & .typo {
    position: absolute;
    top: -32px;
    height: 100px;
    left: calc(50% + 2px);
    transform: translate(-50%, 0);
    overflow: hidden;
    text-align: center;
  }

  & .text {
    width: var(--typo-width);
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    letter-spacing: 10px;
  }

  & .parens {
    position: absolute;
    top: -36px;

    &.left {
      right: -18px;
    }

    &.right {
      left: -18px;
    }
  }

  & .rel {
    position: relative;
  }

  & .o {
    position: absolute;
    left: calc(50% - 48.7px);
    top: calc(50% + 0.4px);
  }

  & .circ {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    border-radius: 50%;
    transform: translate(-50%, -50%);

    &.first {
      background-color: #e88;
    }

    &.second {
      background-color: #88e;
    }

    &.third {
      border-color: #fff;
      border-style: solid;
    }

    &.fourth {
      background-color: #fff;
    }
  }

  & .cover {
    position: relative;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    background-color: #fff;
    opacity: 0;
  }

  & .names {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 30px;
    color: rgba(0, 0, 0, 0.7);
    font-weight: bold;
    letter-spacing: 5px;
    transform: translate(-50%, -50%);
    perspective: 200px;
    padding: 40px;
    background-color: color(#fff alpha(-10%));

    & .name {
      margin-bottom: 0;
      transform-origin: 50% 0;

      &.third {
        margin-bottom: 1px;
      }

      &.fourth {
        font-weight: normal;
        font-size: 20px;
        margin-bottom: 0;
        color: rgba(0, 0, 0, 0.4);
        letter-spacing: 3px;
      }
    }
  }

  & .arrow {
    position: absolute;
    border-right: solid 1px rgba(0, 0, 0, 0.4);
    border-bottom: solid 1px rgba(0, 0, 0, 0.4);
    transform: rotate(45deg);
    width: 40px;
    height: 40px;
    bottom: 40px;
    left: 50%;
  }

  & .menu {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 0;
    width: 100%;

    & .list {
      margin: 0;
      padding: 0;
      list-style: none;
      width: 400px;
      display: flex;
      justify-content: space-around;
    }

    & .item {
      margin-bottom: 5px;
    }

    & :any-link {
      text-decoration: none;
      padding-bottom: 2px;
      color: rgba(0, 0, 0, 0.4);
      border-bottom: solid 1px rgba(0, 0, 0, 0.4);
      font-size: 15px;
    }
  }

  & .pic {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    background-image: url('assets/bg.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 50%;
  }

  & .base.anim {
    & .reveal {
      animation: reveal var(--t-reveal) var(--swift) 0s 1 normal both running;
    }

    & .bar {
      animation: space var(--t-parens) var(--swift) var(--t-reveal) 1 normal both running;
    }

    & .parens {
      animation: parens calc(var(--t-parens) * 0.5) var(--bounce) calc(var(--t-reveal) + var(--t-parens) * 0.2) 1 normal both running;
    }

    & .typo {
      animation: typo calc(var(--t-parens) * 0.3) var(--swift) calc(var(--t-reveal) + var(--t-parens) * 0.5) 1 normal both running;
    }

    & .circ {
      &.first {
        animation: circ-fill var(--t-circ) var(--swift) var(--t-typo) 1 normal both running;
      }

      &.second {
        animation: circ-fill var(--t-circ) var(--swift) calc(var(--t-typo) + var(--t-circ) * 0.8) 1 normal both running;
      }

      &.third {
        animation: circ-pop var(--t-circ) var(--swift) calc(var(--t-typo) + var(--t-circ) * 1.8) 1 normal both running;
      }

      &.fourth {
        animation: circ-cover var(--t-circ-cover) var(--swift) calc(var(--t-typo) + var(--t-circ) * 2.3) 1 normal both running;
      }
    }

    & .cover {
      animation: fade calc(var(--t-circ-cover) * 0.5) var(--swift) var(--t-cover) 1 normal both running;
    }

    & .name {
      &.first {
        animation: flip var(--t-flip) var(--flip) var(--t-cover) 1 normal both running;
      }

      &.second {
        animation: flip var(--t-flip) var(--flip) calc(var(--t-cover) + var(--t-flip) * 0.5) 1 normal both running;
      }

      &.third {
        animation: flip var(--t-flip) var(--flip) calc(var(--t-cover) + var(--t-flip)) 1 normal both running;
      }

      &.fourth {
        animation: flip var(--t-flip) var(--flip) calc(var(--t-cover) + var(--t-flip) * 1.5) 1 normal both running;
      }
    }

    & .arrow {
      animation:
        slide-arrow var(--t-slide) var(--swift) var(--t-around) 1 normal both running;
        /* twitching var(--t-twitching) calc(var(--t-around) + var(--t-slide)) infinite alternate none running; */
    }

    & .menu {
      animation: slide-menu var(--t-slide) var(--swift) var(--t-around) 1 normal both running;
    }

    & .pic {
      animation:
        fade var(--t-pic) var(--swift) var(--t-around) 1 normal both running,
        pic calc(var(--t-pic) * 0.9) var(--cubic-out) var(--t-around) 1 normal both running;
    }
  }
}

@keyframes reveal {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

@keyframes space {
  0% {
    width: 50%;
  }

  100% {
    width: calc(50% - var(--parens-space));
  }
}

@keyframes parens {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes typo {
  0% {
    width: 0;
    opacity: 0;
  }

  100% {
    width: var(--typo-width);
    opacity: 1;
  }
}

@keyframes circ-fill {
  0% {
    width: 0;
    height: 0;
  }

  100% {
    width: 48px;
    height: 48px;
  }
}

@keyframes circ-cover {
  0% {
    width: 0;
    height: 0;
  }

  100% {
    width: 120vmax;
    height: 120vmax;
  }
}

@keyframes circ-pop {
  0% {
    width: 0;
    height: 0;
    border-width: 0;
    animation-timing-function: ease-in;
  }

  30% {
    width: 48px;
    height: 48px;
    border-width: 24px;
    animation-timing-function: linear;
  }

  70% {
    width: 100px;
    height: 100px;
    border-width: 5px;
    animation-timing-function: linear;
  }

  100% {
    width: 120px;
    height: 120px;
    border-width: 0;
    animation-timing-function: ease-out;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes flip {
  0% {
    transform: rotateX(-90deg);
    opacity: 0;
  }

  100% {
    transform: rotateX(0deg);
    opacity: 1;
  }
}

@keyframes twitching {
  0% {
    bottom: 50px;
    animation-timing-function: ease-in;
  }

  50% {
    bottom: 45px;
    animation-timing-function: ease-out;
  }

  100% {
    bottom: 50px;
  }
}

@keyframes slide-arrow {
  0% {
    opacity: 0;
    bottom: -30px;
  }

  100% {
    opacity: 1;
    bottom: 50px;
  }
}

@keyframes slide-menu {
  0% {
    opacity: 0;
    top: -20px;
  }

  100% {
    opacity: 1;
    top: 11%;
  }
}

@keyframes pic {
  0% {
    height: 30%;
  }

  100% {
    height: 50%;
  }
}
