:root {
  --bg-color: #222;
}

:host {
  background-color: var(--bg-color);
  height: 100%;

  & .horizontal-bar {
    height: 10px;
    background-color: #fff;

    &.animate {
      animation: horizontal-bar 2s ease 0s 1 normal none running;
    }
  }
}

@keyframes horizontal-bar {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}
