@import './partials/layout';
@import './partials/variables';

.root {
  @apply --section-wrap;

  background-color: #eee;
  color: #555;
  text-align: center;

  & > * {
    @apply --section;

    @media (max-width: 700px) {
      @apply --section-small;
    }
  }

  & .title {
    @apply --section-title;

    font-size: 25px;
    font-weight: bold;
    font-family: novecentosans;

    @media (max-width: 700px) {
      @apply --section-title-small;
    }
  }
}
