:host {
  --swift: cubic-bezier(0.7, 0, 0.1, 1);
  --cubic-out: cubic-bezier(0.22, 0.61, 0.36, 1);
  --flip: cubic-bezier(1, -0.12, 0.44, 1.65);
  --t-cover: 0s;
  --t-flip: 0.8s;
  --t-around: calc(var(--t-cover) + var(--t-flip) * 1.5);
  --t-twitching: 1s;
  --t-slide: 1s;
  --t-pic: 3s;

  position: relative;
  background-color: #fff;
  height: 100%;
  overflow: hidden;

  & .base {
    position: relative;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
  }

  & .names {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 30px;
    color: rgba(0, 0, 0, 0.7);
    font-weight: bold;
    letter-spacing: 5px;
    transform: translate(-50%, -50%);
    perspective: 200px;
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.9);

    & .name {
      margin-bottom: 0;
      transform-origin: 50% 0;

      &.third {
        margin-bottom: 1px;
      }

      &.fourth {
        font-weight: normal;
        font-size: 20px;
        margin-bottom: 0;
        color: rgba(0, 0, 0, 0.4);
        letter-spacing: 3px;
      }
    }
  }

  & .arrow {
    position: absolute;
    border-right: solid 1px rgba(0, 0, 0, 0.4);
    border-bottom: solid 1px rgba(0, 0, 0, 0.4);
    transform: rotate(45deg);
    width: 40px;
    height: 40px;
    bottom: 40px;
    left: 50%;
  }

  & .menu {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 0;
    width: 100%;

    & .list {
      margin: 0;
      padding: 0;
      list-style: none;
      width: 400px;
      display: flex;
      justify-content: space-around;
    }

    & .item {
      margin-bottom: 5px;
    }

    & :any-link {
      text-decoration: none;
      padding-bottom: 2px;
      color: rgba(0, 0, 0, 0.4);
      border-bottom: solid 1px rgba(0, 0, 0, 0.4);
      font-size: 15px;
    }
  }

  & .pic {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    background-image: url('assets/bg.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 50%;
  }

  & .base.anim {
    & .name {
      &.first {
        animation: flip var(--t-flip) var(--flip) var(--t-cover) 1 normal both running;
      }

      &.second {
        animation: flip var(--t-flip) var(--flip) calc(var(--t-cover) + var(--t-flip) * 0.5) 1 normal both running;
      }

      &.third {
        animation: flip var(--t-flip) var(--flip) calc(var(--t-cover) + var(--t-flip)) 1 normal both running;
      }

      &.fourth {
        animation: flip var(--t-flip) var(--flip) calc(var(--t-cover) + var(--t-flip) * 1.5) 1 normal both running;
      }
    }

    & .arrow {
      animation: slide-arrow var(--t-slide) var(--swift) var(--t-around) 1 normal both running;
    }

    & .menu {
      animation: slide-menu var(--t-slide) var(--swift) var(--t-around) 1 normal both running;
    }

    & .pic {
      animation:
        fade var(--t-pic) var(--swift) var(--t-around) 1 normal both running,
        pic calc(var(--t-pic) * 0.9) var(--cubic-out) var(--t-around) 1 normal both running;
    }
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes flip {
  0% {
    transform: rotateX(-90deg);
    opacity: 0;
  }

  100% {
    transform: rotateX(0deg);
    opacity: 1;
  }
}

@keyframes twitching {
  0% {
    bottom: 50px;
    animation-timing-function: ease-in;
  }

  50% {
    bottom: 45px;
    animation-timing-function: ease-out;
  }

  100% {
    bottom: 50px;
  }
}

@keyframes slide-arrow {
  0% {
    opacity: 0;
    bottom: -30px;
  }

  100% {
    opacity: 1;
    bottom: 50px;
  }
}

@keyframes slide-menu {
  0% {
    opacity: 0;
    top: -20px;
  }

  100% {
    opacity: 1;
    top: 11%;
  }
}

@keyframes pic {
  0% {
    height: 30%;
  }

  100% {
    height: 50%;
  }
}
